@import "tailwindcss";


.satoshi-font {
  font-family: var(--font-satoshi);
}

.integralcf-font {
  font-family: var(--font-integralcf);
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--font-satoshi);
  font-weight: 400;
}

@media (min-width: 1536px) {
  .margin-main-x {
    margin-left: 100px;
    margin-right: 100px;
  }

  .padding-main-x {
    padding-left: 100px;
    padding-right: 100px;
  }
}